 {% for product in products %}
            <div class="hero-slide-item slider-height-2 swiper-slide d-flex text-center">
                <div class="hero-bg-image">
                    <img src="{{ product.image.url }}" alt="">
                </div>
                <div class="container align-self-center">
                    <div class="row justify-content-center">
                        <div class="col-md-8 offset-2 align-self-center m-auto">
                            <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                <span class="category">New Products</span>
                                <h2 class="title-1">Flexible Sofa Set</h2>
                                <p class="w-100">Torem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmo tempor incididunt ut labore et dolore magna</p>
                                <a href="#" class="btn btn-lg btn-primary btn-hover-dark mt-5">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



 <div class="container align-self-center">
                    <div class="row justify-content-center">
                        <div class="col-md-8 offset-2 align-self-center m-auto">
                            <div class="hero-slide-content hero-slide-content-2 slider-animated-1 text-center">
                                <span class="category">New Products</span>
                                <h2 class="title-1">Flexible Sofa Set</h2>
                                <p class="w-100">Torem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmo tempor incididunt ut labore et dolore magna</p>
                                <a href="#" class="btn btn-lg btn-primary btn-hover-dark mt-5">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>