{% load static %}

<div class="col-lg-4  col-md-6 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-delay="200">
        <!-- Single Prodect -->
        <div class="product mb-5">
            <div class="thumb">
                <a href="{{ product.get_absolute_url }}" class="image">
                    <img src="{{ product.image.url }}" alt="Product" />
                    <img class="hover-image" src="{{ product.image.url }}" alt="Product" />
                </a>
                {% if product.visit_count == 0 %}
                <span class="badges">
                    <span class="new">New</span>
                </span>
                {% endif %}
                <div class="actions">
                    <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                            class="icon-heart"></i></a>
                    <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                    <a href="compare.html" class="action compare" title="Compare"><i
                            class="icon-refresh"></i></a>
                </div>
                <button title="Add To Cart" class=" add-to-cart">افزودن به سبد خرید</button>
            </div>
            <div class="content">
                <h5 class="title"><a href="shop-left-sidebar.html">{{ product.title }}</a></h5>
                <span class="price">
                    <span class="new">{{ product.price }} تومان </span>
                </span>
            </div>
        </div>
    </div>